<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================== -->
  <!-- Base Links & Footprint (ROS Standard REP-103) -->
  <!-- ========================================== -->
  <link name="base_footprint" />

  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0.06" rpy="0 0 0" />
    <parent link="base_footprint" />
    <child link="base_link" />
  </joint>

  <link name="base_link">
    <inertial>
      <origin xyz="-0.00965 0.00000 0.01496" rpy="0 0 0" />
      <mass value="1.85" />
      <inertia ixx="0.010" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.012" />
    </inertial>

    <!-- Main Chassis Base (Offset CAD origin to center base_link at 0,0,0) -->
    <visual>
      <origin xyz="-0.00928 0.00827 0.0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/base_link.stl" />
      </geometry>
      <material name="silver" />
    </visual>
    <!-- Collision Box sized to prevent overlap with front lift carriage -->
    <collision>
      <origin xyz="-0.010 0.000 0.030" rpy="0 0 0" />
      <geometry>
        <box size="0.22 0.24 0.06" />
      </geometry>
    </collision>

    <!-- Front-Right Motor Bracket -->
    <visual>
      <origin xyz="0.120 -0.123 -0.00377" rpy="-${PI/2} 0 ${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_bracket_fr.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Front-Left Motor Bracket -->
    <visual>
      <origin xyz="0.080 0.123 -0.00377" rpy="-${PI/2} 0 -${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_bracket_fl.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Rear-Right Motor Bracket -->
    <visual>
      <origin xyz="-0.080 -0.123 -0.00377" rpy="-${PI/2} 0 ${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_bracket_rr.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Rear-Left Motor Bracket -->
    <visual>
      <origin xyz="-0.125 0.123 -0.00377" rpy="-${PI/2} 0 -${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_bracket_rl.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Front-Right Motor -->
    <visual>
      <origin xyz="0.100 -0.120 -0.03077" rpy="${PI/2} 0 0" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_jgb37_520_right.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Front-Left Motor -->
    <visual>
      <origin xyz="0.100 0.120 -0.03077" rpy="-${PI/2} 0 -${PI}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_jgb37_520_left.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Rear-Right Motor -->
    <visual>
      <origin xyz="-0.100 -0.120 -0.03077" rpy="${PI/2} 0 0" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_jgb37_520_right.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Rear-Left Motor -->
    <visual>
      <origin xyz="-0.100 0.120 -0.03077" rpy="-${PI/2} 0 -${PI}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_jgb37_520_left.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Lift Base Column -->
    <visual>
      <origin xyz="0.128 0.000 0.00223" rpy="${PI/2} 0 -${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/lift_base.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Lift Motor -->
    <visual>
      <origin xyz="0.1105 0.000 0.02923" rpy="-${PI/2} 0 -${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/motor_jgb37_520_right.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Lift Guide Pipe 1 -->
    <visual>
      <origin xyz="0.128 -0.0575 0.00823" rpy="${PI/2} 0 -3.292375" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/lift_pipe_1.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Lift Guide Pipe 2 -->
    <visual>
      <origin xyz="0.128 0.000 0.04601" rpy="${PI/2} 0 -2.990810" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/lift_pipe_2.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Lift Top Cap -->
    <visual>
      <origin xyz="0.128 0.000 0.26823" rpy="${PI/2} 0 -${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/lift_top_cap.stl" />
      </geometry>
      <material name="silver" />
    </visual>

    <!-- Lift Timing Belt -->
    <visual>
      <origin xyz="0.119 0.000 0.27823" rpy="${PI/2} ${PI/2} -${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/lift_belt.stl" />
      </geometry>
      <material name="dark_grey" />
    </visual>

    <!-- Lift Top Pulley -->
    <visual>
      <origin xyz="0.119 0.000 0.27973" rpy="-${PI/2} -0.897414 ${PI/2}" />
      <geometry>
        <mesh filename="package://robot0_description/meshes/lift_pulley_20t.stl" />
      </geometry>
      <material name="silver" />
    </visual>
  </link>

</robot>
